/node_modules
/components
/build
/db

.DS_Store
npm-debug.log

# local env files
# for testing production
# (overwrites .env)
/.env.*

# project view folders
/project-views/functional

#project page
lr.sublime-project
lr.sublime-workspace
.env.local
